version: "3.2"

services:
  # KAFKA
  # ports: 3000 - 3999
  zookeeper:
    image: "wurstmeister/zookeeper"
    ports:
      - "2181:2181"
  my-kafka:
    image: "wurstmeister/kafka:0.10.2.0"
    ports:
      - "9092:9092"
    depends_on:
      - "zookeeper"
    environment:
      KAFKA_CREATE_TOPICS: >
        user_names:4:1,user_follow_infos:4:1,user_scrape_errors:1:1,
        twitter-user_names:4:1,twitter-users_scraped:4:1,twitter-posts_scraped:4:1,
        reached_limit:4:1,renewed_elastic_ip:4:1,renewing_elastic_ip_errors:4:1,
        user_post:4:1,user_instagram-scrape_errors:4:1,insta_comments_info:4:1,post_comment_insta_scraper_errors:4:1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://my-kafka:9092
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  minio:
    image: minio/minio
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: "AKIAIOSFODNN7EXAMPLE"
      MINIO_SECRET_KEY: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
    command: "server /data"

    # GRPC
  # ports: 4000 - 4999
  envoy-proxy:
    build: "./api/envoy-proxy"
    depends_on:
      - "grpc-server"
    ports:
      - "4000:8080"
  grpc-server:
    build:
      context: "."
      dockerfile: "./api/grpcserver/Dockerfile"
    environment:
      GRPC_POSTGRES_HOST: "postgres"
    ports:
      - "4100:10000"

  # INSTAGRAM SCRAPER
  insta_user-scraper:
    build:
      context: "."
      dockerfile: "insta_user-scraper/Dockerfile"
    image: "smag-insta_user-scraper"
    depends_on:
      - "my-kafka"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_user_scraper"
      KAFKA_NAME_TOPIC: "user_names"
      KAFKA_INFO_TOPIC: "user_follow_infos"
      KAFKA_ERR_TOPIC: "insta_user_scaper_err"

  insta_posts-scraper:
    build:
      context: "."
      dockerfile: "insta_posts-scraper/Dockerfile"
    depends_on:
      - "my-kafka"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_posts_scraper"
      KAFKA_NAME_TOPIC: "user_names"
      KAFKA_INSTA_POSTS_TOPIC: "insta_posts"
      KAFKA_ERR_TOPIC: "insta_post_scrape_errors"

  insta_posts-inserter:
    build:
      context: "."
      dockerfile: "insta_posts-inserter/Dockerfile"

    depends_on:
      - "my-kafka"
      - "postgres"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_posts_inserter"
      KAFKA_INSTA_POSTS_TOPIC: "insta_posts"
      POSTGRES_HOST: "postgres"
      POSTGRES_PASSWORD: "12345678"

  insta_post-pictures-filter:
    build:
      context: "."
      dockerfile: "kafka/changestream/insta_post_pictures-filter/Dockerfile"
    depends_on:
      - "my-kafka"
      - "postgres"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_post-pictures-filter"
      KAFKA_CHANGE_TOPIC: "postgres.public.posts"
      KAFKA_PICTURE_DOWNLOADS_TOPIC: "insta_pic_download_jobs"
  insta_pics-downloader:
    build:
      context: "."
      dockerfile: "insta_pics-downloader/Dockerfile"
    depends_on:
      - "my-kafka"
      - "postgres"
    environment:
      POSTGRES_HOST: "postgres"
      POSTGRES_PASSWORD: "12345678"
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_pics_downloader"
      KAFKA_PICTURE_DOWNLOADS_TOPIC: "insta_pic_download_jobs"
      S3_BUCKET_NAME: "instapics"
      S3_REGION: "eu-west-1"
      S3_ENDOINT: "minio:9000"
      S3_ACCESS_KEY_ID: "AKIAIOSFODNN7EXAMPLE"
      S3_SECRET_ACCESS_KEY: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
      S3_USE_SSL: "false"
  # TWITTER SCRAPER
  twitter_scraper_users:
    build: "twitter_scraper/"
    image: "smag-twitter_scraper"
    command: ["-m", "twitterscraper.user_scraper"]
    depends_on:
      - "my-kafka"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_FETCH_TOPIC: "twitter-user_names"
      KAFKA_INSERT_TOPIC: "twitter-users_scraped"
  twitter_scraper_posts:
    build: "twitter_scraper/"
    image: "smag-twitter_scraper"
    command: ["-m", "twitterscraper.tweets_scraper"]
    depends_on:
      - "my-kafka"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_FETCH_TOPIC: "twitter-user_names"
      KAFKA_INSERT_TOPIC: "twitter-posts_scraped"

  # TWITTER INSERTER
  twitter_inserter_users:
    build:
      context: "."
      dockerfile: "./twitter_inserter_users/Dockerfile"
    image: "smag-twitter_inserter_users"
    environment:
      POSTGRES_HOST: "postgres"
      POSTGRES_PASSWORD: "12345678"
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "twitter_inserter_users"
      KAFKA_INFO_TOPIC: "twitter-users_scraped"
      KAFKA_NAME_TOPIC: "twitter-user_names"
  twitter_inserter_posts:
    build:
      context: "."
      dockerfile: "twitter_inserter_posts/Dockerfile"
    image: "smag-twitter_inserter_posts"
    environment:
      POSTGRES_HOST: "postgres"
      POSTGRES_PASSWORD: "12345678"
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "twitter_inserter_posts"
      KAFKA_INFO_TOPIC: "twitter-posts_scraped"
      KAFKA_NAME_TOPIC: "twitter-user_names"

  # POSTGRES
  postgres:
    image: "debezium/postgres:11"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "12345678"
      POSTGRES_DB: "instascraper"
  connect:
    image: "debezium/connect:0.10"
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: "my-kafka:9092"
      GROUP_ID: "1"
      CONFIG_STORAGE_TOPIC: "my_connect_configs"
      OFFSET_STORAGE_TOPIC: "my_connect_offsets"
      STATUS_STORAGE_TOPIC: "my_connect_statuses"
  pgadmin:
    image: "dpage/pgadmin4:4.13"
    ports:
      - "5100:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: "my_awesome_email@email.com"
      PGADMIN_DEFAULT_PASSWORD: "does_not_matter"
  migrate-postgres:
    build:
      context: "."
      dockerfile: "debezium/Dockerfile"
    depends_on:
      - "postgres"
    environment:
      POSTGRES_DB: "instascraper"

  # FILTER
  insta-user-filter:
    build:
      context: "."
      dockerfile: "kafka/changestream/insta_user_names-filter/Dockerfile"
    depends_on:
      - "postgres"
      - "connect"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_user_names-filter"
  insta-post-picture-filter:
    build:
      context: "."
      dockerfile: "kafka/changestream/insta_post_pictures-filter/Dockerfile"
    depends_on:
      - "postgres"
      - "connect"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "insta_post_pictures-filter"
  twitter-user-filter:
    build:
      context: "."
      dockerfile: "kafka/changestream/twitter_user_names-filter/Dockerfile"
    depends_on:
      - "postgres"
      - "connect"
    environment:
      KAFKA_ADDRESS: "my-kafka:9092"
      KAFKA_GROUPID: "twitter_user_names-filter"


