.dashboard {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.dashboardCard {
  width: 350px;
  height: 350px;
  padding: 0px;
  margin: 0px;
  box-shadow: 10px 10px 15px silver;
  background-color: white;
}

.cardGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75% 25%;
}

.slideshow {
  width: 350px;
  height: auto;
}

.slides,
.react-slideshow-container,
.slide,
.images-wrap {
  width: 100%;
  height: 100%;
}

.images-wrap img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.interestFooter {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  box-sizing: border-box;
}

.interestFooter h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.interestFooter p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1rem;
  height: 2rem;
  overflow: hidden;
}

#defaultCanvas0 {
  visibility: hidden !important;
}
