.dashboard {
  width: 100vw;
  height: 100vh;
  padding: 20px 50px;
  background-color: #071623;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboardTitle {
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  line-height: 43px;
  height: 42px;
  width: 663px;
  align-self: flex-start;
  margin: 0px;
}

.dashboardGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 405px 405px 405px 405px;
  grid-template-rows: 405px 405px;
  grid-template-areas:
    "avatar posts posts stats"
    "bio posts posts location";
  grid-gap: 50px;
  margin: 30px 0px 30px 0px;
}
.dashboard-headline {
  color: #000000 !important;
}
.dashboard-headline {
  color: #000000 !important;
}

.smallCard {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 4px;
  background-color: #fafafa;
  color: #000;
}

.largeCard {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 4px;
  background-color: #fafafa;
  color: #000;
}

.dashboard-avatar {
  grid-area: avatar;
}

.dashboard-posts {
  grid-area: posts;
}

.dashboard-stats {
  grid-area: stats;
}

.dashboard-bio {
  grid-area: bio;
}

.dashboard-location {
  grid-area: location;
}

.cardGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 78% 22%;
}
.profilePictureImg {
  width: 405px;
  height: 405px;
}
.slideshow {
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #fafafa;
}
.slideshow-image {
  width: 860px;
  object-fit: cover;
}

.slides,
.react-slideshow-container,
.react-slideshow-zoom-wrapper,
.zoom-wrapper,
.slide,
.images-wrap {
  width: 100%;
  height: 100%;
}

.zoom-wrapper div {
  max-height: 100%;
  max-width: 860px;
}

.images-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-wrap img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.interestFooter {
  max-width: 405px;
  height: 100%;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  line-height: 23px;
  color: #424b5a;
}

.interestFooter h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.interestFooter p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1rem;
  height: 2rem;
  overflow: hidden;
}

.dashboardCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.dashboardFooter {
  padding: 20px 0px;
}
.statsCard {
  box-sizing: border-box;
  border: 3px solid #fecb1c;
  background-color: rgba(254, 203, 28, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f4db00;
  font-size: 28px;
}

.statsCard h1 {
  font-size: 100px;
  line-height: 115px;
  padding: 0;
  margin: 0;
}

.bioCard {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 32px 42px 32px 42px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
