@font-face{
  font-family:"SFPro";
  src:local('SFPro'),
    url('./static/fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
}



body {
  font-family: SFPro;
  font-weight: 300;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1 h1 {
  font-family: SFPro; 
  font-size:28px;
  line-height: 34px;
  color: #000000;
}



.container {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.headline {
  padding: 50px 0px;
}
input[type=text] {
  width: 80%;
  border: solid 1px #555555;
  padding: 20px;
}
button {
  width: 10%;
  border: solid 1px #555555;
  padding: 20px;
  float: right;
}


/*--------responsive-----------*/
@media (max-width:992px) {
.container {
  width:100%
}
input[type=text] {
  width: 70%;
  border: solid 1px #555555;
  padding: 20px;
}
button {
  width: 20%;
  border: solid 1px #555555;
  padding: 20px;
  float: right;
}
}