@font-face {
  font-family: "SFPro";
  src: local("SFPro"),
    url("./static/fonts/FontsFree-Net-SFProDisplay-Regular.ttf")
      format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: SFPro;
  font-weight: 300;
  background-color: #ffffff;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1 h1 {
  font-family: SFPro;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.h2 h2 {
  font-family: SFPro;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.container {
  display: flex;
}
.column {
  padding: 10px;
}
.column-full {
  flex-wrap: wrap;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container-popup {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column-popup {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  background-color: #071623;
  border-radius: 50px;
  padding: 60px;
}
.container-center {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column-one-fourth {
  display: contents;
  float: left;
  padding: 20px;
  width: 25%;
}
.column-2 {
  display: block;
  float: left;
  width: 50%;
}
.container-card {
  display: flex;
  flex-direction: ltr;
  justify-content: space-evenly;
}
.container-plattforms {
  display: flex;
  flex-direction: ltr;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 100px;
}

.column-one-third {
  width: 33%;
}
.column-one-sixed {
  width: 16.6%;
}
.column-four-sixed {
  width: 66.6%;
  justify-content: center;
  align-self: center;
}
.column-four-sixed-posts {
  width: 66.6%;
  justify-content: center;
  align-self: center;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.social-icon-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  margin-top: 100px;
  box-sizing: border-box;
  border: solid 1px #979797;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
.avatar-image {
  border-radius: 50%;
  height: 120px !important;
  width: 120px !important;
}
.avatar-image-container {
  height: 120px !important;
  width: 120px !important;
}
.headline {
  color: #ffffff;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.36px;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}
.sub-headline {
  color: #ffffff;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.38px;
  font-weight: 600;
  flex-basis: 100%;
}
.sub-headline-profile {
  display: flex;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  font-weight: 600;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.profile-button {
  display: block;
}
.container-profile {
  display: inline-flex;
  padding: 20px 0px;
}
.body-text {
  color: #000000;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: #fff;
  text-decoration: none;
}
.social-icon {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
}

.column-center {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.headline-home {
  padding: 50px 0px;
}
input[type="text"] {
  width: 70%;
  border: solid 1px #555555;
  padding: 20px;
}
button {
  width: 20%;
  border: solid 1px #555555;
  padding: 20px;
  float: right;
}
video {
  padding: 0px;
}
.ig-post {
  width: 25%;
  max-width: 600px;
  float: left;
}
.post-image {
  width: 100%;
  max-width: 600px;
}
.ig-post-padding {
  padding: 20px;
}
.BackButton {
  width: 40px;
  height: 40px;
  border: solid #000000 2px;
}
.BackButtonImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Button-center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  display: block;
}
video {
  padding: 0px;
}
.parent-container {
  position: relative;
  object-fit: cover;
  height: 75vh;
}
.profile-card {
  width: 50%;
  float: left;
  display: flex;
  vertical-align: middle;
  padding: 20px 0px;
  text-align: left;
  cursor: pointer;
}
.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 70vh;
  width: auto;
  height: auto;
  margin: 10px;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

.video-container video {
  min-height: 70vh;
}

.canvas {
  display: none;
}
#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.button {
  background: #000000;
  border-radius: 50px;
  border: 3px solid #2a9fd8;
  padding: 10px 60px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
}

/*--------responsive-----------*/
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  input[type="text"] {
    width: 60%;
    border: solid 1px #555555;
    padding: 0px 10px;
  }
  button {
    width: 20%;
    border: solid 1px #555555;
    padding: 20px 0px;
    float: right;
  }
  .column-one-third {
    width: 100%;
    flex-direction: column;
  }
  .column-four-sixed-posts {
    width: 100%;
    flex-direction: column;
  }
  .container-center {
    display: flex;
    height: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .container-card {
    flex-direction: column;
  }
  h1 {
    font-size: 1em;
    line-height: 1em;
  }
  h2 {
    font-size: 0.8em;
    line-height: 0.8em;
  }
  .ig-post {
    width: 100%;
    float: left;
  }
}
