@font-face {
  font-family: "SFPro";
  src: local("SFPro"),
    url("./static/fonts/FontsFree-Net-SFProDisplay-Regular.ttf")
      format("truetype");
}

body {
  font-family: SFPro;
  font-weight: 300;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1 h1 {
  font-family: SFPro;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}
.container {
  display: flex;
}
.column {
  padding: 10px;
}

.container-center {
  display: flex;
  height: 100vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container-card {
  display: flex;
  flex-direction: ltr;
  justify-content: space-evenly;
}
.container-plattforms {
  display: flex;
  flex-direction: ltr;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 100px;
}

.column-one-third {
  width: 33%;
}
.column-one-sixed {
  width: 16.6%;
}
.column-four-sixed {
  width: 66.6%;
  justify-content: center;
  align-self: center;
}
.column-four-sixed-posts {
  width: 66.6%;
  justify-content: center;
  align-self: center;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.social-icon-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  margin-top: 100px;
  box-sizing: border-box;
  border: solid 1px #979797;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
.avatar-image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.headline {
  color: #000000;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.36px;
  font-weight: 600;
}
h1 {
  font-size: 2em;
  line-height: 1em;
}
.sub-headline {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  font-weight: 600;
  flex-basis: 100%;
}

.body-text {
  color: #000000;
  font-size: 16px;
  line-height: 22px;
}

a {
  color: #000000;
  text-decoration: none;
}
.social-icon {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
}

.column-center {
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.headline-home {
  padding: 50px 0px;
}
input[type="text"] {
  width: 70%;
  border: solid 1px #555555;
  padding: 20px;
}
button {
  width: 20%;
  border: solid 1px #555555;
  padding: 20px;
  float: right;
}
.ig-post {
  width: 25%;
  max-width: 600px;
  float: left;
}
.post-image {
  width: 100%;
  max-width: 600px;
}
.ig-post-padding {
  padding: 20px;
}
.BackButton {
  width: 40px;
  height: 40px;
  border: solid #000000 2px;
}
.BackButtonImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Button-center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
video {
  padding: 20px;
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*--------responsive-----------*/
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  input[type="text"] {
    width: 60%;
    border: solid 1px #555555;
    padding: 20px 10px;
  }
  button {
    width: 20%;
    border: solid 1px #555555;
    padding: 20px 0px;
    float: right;
  }
  .column-one-third {
    width: 100%;
    flex-direction: column;
  }
  .column-four-sixed-posts {
    width: 100%;
    flex-direction: column;
  }
  .container-center {
    display: flex;
    height: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .container-card {
    flex-direction: column;
  }
  h1 {
    font-size: 1em;
    line-height: 1em;
  }
  .ig-post {
    width: 100%;
    float: left;
  }
}
